{% extends "root.html" %}

{% block title %}
    BHMS Report of New Tallah ROB (Hemanta Setu) &nbsp; Summery Report &nbsp; &nbsp; From {{ start_date }} to {{ end_date }}
{% endblock %}

{% block styles %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <!-- ACCELEROMETER CHARTS -->
    <div class="container">
        {% for chart_data in accelerometers_charts_data %}
        {% for chart in chart_data["charts"] %}
        <div class="container">
            <h5>Accelerometer {{ chart["axis_column"] }}</h5>
            <div id="{{ chart_data['canvas_id'] }}_{{ chart['axis'] | safe }}">
                {{ chart['plotly_div'] | safe }}
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
