{% extends "root.html" %} {% block content%}

<main id="pdf-content">
  <div class="container">
    <div class="header-text text-center">
      <p class="text-center my-5">
        <u
          >BHMS Report of New Tallah ROB (Hemanta Setu) From 18/04/2023 to
          24/04/2023</u
        >
      </p>
      <h4>New Tallah ROB (Hemanta Setu)</h4>
      <h5>Weekly Report on the Bridge Health Monitoring System</h5>
      <p class="fw-bold">Reporting period: From 18/04/2023 to 24/04/2023</p>
      <p class="fw-bold">(Time: 08:00 am to 08:00 am)</p>
    </div>

    <!--============================= START TABLE A ================================ -->

    <h5 class="my-3 mt-5">A. Instrumentation health status</h5>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>SL.no</th>
            <th>Name of instrument</th>
            <th>Total qty.installed</th>
            <th>Functioning</th>
            <th>Damaged/vandalized</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Accelerometer</td>
            <td>34</td>
            <td>34</td>
            <td>0</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Laser sensor</td>
            <td>32</td>
            <td>32</td>
            <td>0</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Corrosion sensor</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Automatic weather station</td>
            <td>1</td>
            <td>1</td>
            <td>0</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Strain gauges</td>
            <td>213</td>
            <td>213</td>
            <td>0</td>
          </tr>
          <tr>
            <td>6</td>
            <td>LVDT</td>
            <td>64</td>
            <td>64</td>
            <td>0</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Tilt Meter</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Temperature Meter</td>
            <td>2</td>
            <td>2</td>
            <td>0</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--============================= END TABLE  A ================================ -->

    <!--============================= START TABLE B ================================ -->
    <h5 class="my-5">
      B. Weather conditions Summary during the reporting period
    </h5>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Weather Parameter</th>
            <th>Maximum</th>
            <th>Minimum</th>
            <th>Average</th>
            <th>Standard Deviation</th>
          </tr>
        </thead>
        <tbody>
          {% for _, row in statistics.iterrows() %}
          <tr>
            <td>{{ row['Weather Parameter'] }}</td>
            <td>{{ row['Maximum'] }}</td>
            <td>{{ row['Minimum'] }}</td>
            <td>{{ row['Average'] }}</td>
            <td>{{ row['Standard Deviation'] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!--============================= END TABLE B ================================ -->

    <!-- ========================================================================================= -->
    <div class="Observations-section">
      <h5><u>Observations:</u></h5>
      <ul>
        <li>
          Maximum of solar radiation was observed on 10:45 am morning of 23rd
          April
        </li>
        <li>2023.Wind direction in an average it was 230.1 degrees to north</li>
        <li>Average Relative humidity for this period was 56.5 %RH</li>
        <li>The average atmospheric temperature was 33.0 °C.</li>
        <li>
          The maximum recorded wind speed is at 09:45 pm night of 21 st April,
          2023 and which was 64.8 km/h.
        </li>
      </ul>
    </div>
    <!-- ======================================================================================= -->
    <div class="table-responsive">
      <h5 class="my-3">
        C. Table showing the locations and Tag of Laser Sensor
      </h5>
      <table class="table table-bordered p-0">
        <thead>
          <tr>
            <th>SL No.</th>
            <th>Laser Sensor</th>
            <th>Location</th>
            <th>SL No.</th>
            <th>Laser Sensor</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>LS1</td>
            <td>A1 Approach</td>
            <td>18</td>
            <td>LS18</td>
            <td>P9-CP2 LHS</td>
          </tr>
          <tr>
            <td>2</td>
            <td>LS2</td>
            <td>A1-P1</td>
            <td>19</td>
            <td>LS19</td>
            <td>P9-CP2 LHS</td>
          </tr>
          <tr>
            <td>3</td>
            <td>LS3</td>
            <td>P1-P2</td>
            <td>20</td>
            <td>LS20</td>
            <td>P9-CP2 LHS</td>
          </tr>
          <tr>
            <td>4</td>
            <td>LS4</td>
            <td>P2-P3</td>
            <td>21</td>
            <td>LS21</td>
            <td>P9-CP2 LHS</td>
          </tr>
          <tr>
            <td>5</td>
            <td>LS5</td>
            <td>P3-P4</td>
            <td>22</td>
            <td>LS22</td>
            <td>P9-CP2 LHS</td>
          </tr>
          <tr>
            <td>6</td>
            <td>LS6</td>
            <td>P4-P5</td>
            <td>23</td>
            <td>LS23</td>
            <td>P9-CP2 LHS</td>
          </tr>

          <tr>
            <td>7</td>
            <td>LS7</td>
            <td>P5-CP1 RHS</td>
            <td>24</td>
            <td>LS24</td>
            <td>P9-CP2 LHS</td>
          </tr>
          <tr>
            <td>8</td>
            <td>LS8</td>
            <td>P5-CP1 LHS</td>
            <td>25</td>
            <td>LS25</td>
            <td>P9-CP2 LHS</td>
          </tr>
          <tr>
            <td>9</td>
            <td>LS9</td>
            <td>CP1-P6 RHS</td>
            <td>26</td>
            <td>LS26</td>
            <td>P9-CP2 LHS</td>
          </tr>
          <tr>
            <td>10</td>
            <td>LS10</td>
            <td>CP1-P6 LHS</td>
            <td>27</td>
            <td>LS27</td>
            <td>A3 Approach</td>
          </tr>
          <tr>
            <td>11</td>
            <td>LS11</td>
            <td>CP1-P6 LHS</td>
            <td>28</td>
            <td>LS28</td>
            <td>A3 Approach</td>
          </tr>
          <tr>
            <td>12</td>
            <td>LS12</td>
            <td>CP1-P6 LHS</td>
            <td>29</td>
            <td>LS29</td>
            <td>A3 Approach</td>
          </tr>
          <tr>
            <td>13</td>
            <td>LS13</td>
            <td>CP1-P6 LHS</td>
            <td>30</td>
            <td>LS30</td>
            <td>A3 Approach</td>
          </tr>
          <tr>
            <td>14</td>
            <td>LS14</td>
            <td>CP1-P6 LHS</td>
            <td>31</td>
            <td>LS31</td>
            <td>A3 Approach</td>
          </tr>
          <tr>
            <td>15</td>
            <td>LS15</td>
            <td>CP1-P6 LHS</td>
            <td>32</td>
            <td>LS32</td>
            <td>A3 Approach</td>
          </tr>
          <tr>
            <td>16</td>
            <td>LS16</td>
            <td>CP1-P6 LHS</td>
            <td>33</td>
            <td>LS33</td>
            <td>A3 Approach</td>
          </tr>
          <tr>
            <td>17</td>
            <td>LS17</td>
            <td>CP1-P6 LHS</td>
           
          </tr>
        </tbody>
      </table>
    </div>
    <!--============================= START TABLE D ================================ -->

    <h5 class="my-5">
      D. Weather conditions Summary during the reporting period
    </h5>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Location</th>
            <th>Parameter</th>
            <th>Max</th>
            <th>Min.</th>
            <th>Avg.</th>
            <th>Standard Deviation</th>
            <th>Threshold Value in mm (+/-)</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %} {% for column, values in result.items() %}
          {% if loop.index % 2 == 1 %}
          <tr>
            <td rowspan="2">{{ column }}</td>
            <td>Vertical Distance in mm</td>
            <td>{{ values["Max"] }}</td>
            <td>{{ values["Min"] }}</td>
            <td>{{ values["Avg"] }}</td>
            <td>{{ values["Std"] }}</td>
            <td>35.2</td>
          </tr>
          {% else %}
          <tr>
            <td class="bg-info">Deflection in mm</td>
            <td class="bg-info">{{ values["Max"] }}</td>
            <td class="bg-info">{{ values["Min"] }}</td>
            <td class="bg-info">{{ values["Avg"] }}</td>
            <td class="bg-info">{{ values["Std"] }}</td>
            <td class="bg-info"></td>
          </tr>
          {% endif %} {% endfor %} {% endfor %}
        </tbody>
      </table>
    </div>
    <!--============================= START TABLE D ================================ -->
  </div>
</main>

{% endblock content%}
