{% extends "root.html" %}

{% block title %}
BHMS Report of New Tallah ROB (Hemanta Setu) &nbsp; Summery Report &nbsp; &nbsp; From {{start_date}} to {{end_date}}
{% endblock %}

{% block styles %}
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link href="https://printjs-4de6.kxcdn.com/print.min.css"
          rel="stylesheet"
          type="text/css" />
{% endblock %}

{% block content %}
    <main id="report-print">
        <div class="container">
            <div class="header-text text-center">
                <p class="text-center my-5">
                    <u>
                        BHMS Report of New Tallah ROB (Hemanta Setu) &nbsp; Summery Report &nbsp; &nbsp; From {{start_date}} to {{end_date}}
                    </u>
                </p>
                <h4>New Tallah ROB (Hemanta Setu)</h4>
                <h5>Weekly Report on the Bridge Health Monitoring System</h5>
                <p class="fw-bold">Reporting period: From {{start_date}} to {{end_date}}</p>
                <p class="fw-bold">(Time: {{start_time}} to {{end_time}})</p>
            </div>
            <!-- ======= START  Instrumentation health status ======= -->
            <button id="download-pdf" class="btn btn-primary d-print-none">Download PDF</button>
            <h5 class="my-3 mt-5 text-primary">A. Instrumentation health status</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th style="width: 10px;">SL.no</th>
                            <th>Name of instrument</th>
                            <th>Total qty.installed</th>
                            <th>Functioning</th>
                            <th>Damaged/vandalized</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Accelerometer</td>
                            <td>34</td>
                            <td>34</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Laser sensor</td>
                            <td>32</td>
                            <td>32</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Corrosion sensor</td>
                            <td>2</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Automatic weather station</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>Strain gauges</td>
                            <td>213</td>
                            <td>213</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>LVDT</td>
                            <td>64</td>
                            <td>64</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Tilt Meter</td>
                            <td>2</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>Temperature Meter</td>
                            <td>2</td>
                            <td>2</td>
                            <td>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- ======= END  Instrumentation health status ======= -->
            <!-- ======= START Weather conditions Summary during the reporting period ======= -->
            <h5 class="my-5 text-primary">B. Weather conditions Summary during the reporting period</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>Weather Parameter</th>
                            <th>Maximum</th>
                            <th>Minimum</th>
                            <th>Average</th>
                            <th>Standard Deviation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for _, row in weather_datas.iterrows() %}
                            <tr>
                                <td>{{ row['Weather Parameter'] }}</td>
                                <td>{{ row['Maximum'] | round(1) }}</td>
                                <td>{{ row['Minimum'] | round(1) }}</td>
                                <td>{{ row['Average'] | round(1) }}</td>
                                <td>{{ row['Standard Deviation'] | round(1) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- ======= START Obserbation Section ======= -->
            <div class="Observations-section">
                <h5>
                    <u>Observations:</u>
                </h5>
                <ul>
                    <li>
                        Maximum of solar radiation was observed on 10:45 am morning of 23rd
                        April
                    </li>
                    <li>2023.Wind direction in an average it was 230.1 degrees to north</li>
                    <li>Average Relative humidity for this period was 56.5 %RH</li>
                    <li>The average atmospheric temperature was 33.0 °C.</li>
                    <li>
                        The maximum recorded wind speed is at 09:45 pm night of 21 st April,
                        2023 and which was 64.8 km/h.
                    </li>
                </ul>
            </div>
            <!-- ======= END Obserbation Section ======= -->

            <!-- ======= END Weather conditions Summary during the reporting period ======= -->

            <!-- ======= START Table showing the locations and Tag of Laser Sensor ======= -->
            <div class="table-responsive">
                <h5 class="my-3 text-primary">C. Table showing the locations and Tag of Laser Sensor</h5>
                <table class="table table-bordered table-striped p-0">
                    <thead class="text-center">
                        <tr>
                            <th style="width: 80px;">SL No.</th>
                            <th>Laser Sensor</th>
                            <th>Location</th>
                            <th style="width: 80px;">SL No.</th>
                            <th>Laser Sensor</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>LS1</td>
                            <td>A1 Approach</td>
                            <td>18</td>
                            <td>LS18</td>
                            <td>P9-CP2 LHS</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>LS2</td>
                            <td>A1-P1</td>
                            <td>19</td>
                            <td>LS19</td>
                            <td>CP2-P10 RHS</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>LS3</td>
                            <td>P1-P2</td>
                            <td>20</td>
                            <td>LS20</td>
                            <td>CP2-P10 LHS</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>LS4</td>
                            <td>P2-P3</td>
                            <td>21</td>
                            <td>LS21</td>
                            <td>P10-P11</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>LS5</td>
                            <td>P3-P4</td>
                            <td>22</td>
                            <td>LS22</td>
                            <td>P11-P12</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>LS6</td>
                            <td>P4-P5</td>
                            <td>23</td>
                            <td>LS23</td>
                            <td>P12-P13</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>LS7</td>
                            <td>P5-CP1 RHS</td>
                            <td>24</td>
                            <td>LS24</td>
                            <td>P13-P14</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>LS8</td>
                            <td>P5-CP1 LHS</td>
                            <td>25</td>
                            <td>LS25</td>
                            <td>P14-A2 Steel</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>LS9</td>
                            <td>CP1-P6 RHS</td>
                            <td>26</td>
                            <td>LS26</td>
                            <td>A2 Approach</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>LS10</td>
                            <td>CP1-P6 LHS</td>
                            <td>27</td>
                            <td>LS27</td>
                            <td>A3 Approach</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>LS11</td>
                            <td>P6-P7 RHS</td>
                            <td>28</td>
                            <td>LS28</td>
                            <td>A3 Approach</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>LS12</td>
                            <td>P6-P7 LHS</td>
                            <td>29</td>
                            <td>LS29</td>
                            <td>P20-P21</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>LS13</td>
                            <td>P7-P8 RHS</td>
                            <td>30</td>
                            <td>LS30</td>
                            <td>P19-P20</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>LS14</td>
                            <td>P7-P8 LHS</td>
                            <td>31</td>
                            <td>LS31</td>
                            <td>P18-P19</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>LS15</td>
                            <td>P8-P9 RHS</td>
                            <td>32</td>
                            <td>LS32</td>
                            <td>P17-P18(Not Installed)</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>LS16</td>
                            <td>P8-P9 LHS</td>
                            <td>33</td>
                            <td>LS33</td>
                            <td>P16-P17</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>LS17</td>
                            <td>P9-CP2 RHS</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- ======= END Table showing the locations and Tag of Laser Sensor ======= -->
            
            <!-- ======= START Summary of Laser Sensor. ======= -->
            <h5 class="my-5 text-primary">D. Summary of Laser Sensor.</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>Location</th>
                            <th>Parameter</th>
                            <th>Max</th>
                            <th>Min.</th>
                            <th>Avg.</th>
                            <th>Standard Deviation</th>
                            <th>Threshold Value in mm (+/-)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for column, values in laser_datas[0].items() %}
                            {% if loop.index % 2 == 1 %}
                                <tr>
                                    <td rowspan="2">{{ column }}</td>
                                    <td>Vertical Distance in mm</td>
                                    <td>{{ values["Max"] }}</td>
                                    <td>{{ values["Min"] }}</td>
                                    <td>{{ values["Avg"] }}</td>
                                    <td>{{ values["Std"] }}</td>
                                    <td rowspan="2">{{ values["Threshold"] }}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td>Deflection in mm</td>
                                    <td>{{ values["Max"] | round(1) }}</td>
                                    <td>{{ values["Min"] | round(1) }}</td>
                                    <td>{{ values["Avg"] | round(1) }}</td>
                                    <td>{{ values["Std"] | round(1) }}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                {% for i in range(1, 6) %}
                <div class="py-5 my-3">
                    <img src="{{ url_for('static', filename='charts/laser_chart_' ~ i ~ '.png') }}" alt="Chart {{ i }}">
                </div>
                {% endfor %}
            </div>

            <!-- ======= START Obserbation Section ======= -->
            <div class="Observations-section">
                <h5>
                    <u>Observations:</u>
                </h5>
                <p>
                    No significant deflection was observed on this monitoring period. The trend portrays the condition of traffic on the bridge. In case of Laser sensor LS 27 the laser sensor that is installed on P21 A3 span in it’s target some garbage had got stagnant there.
                </p>
            </div>
            <!-- ======= END Obserbation Section ======= -->
            <!-- ======= END Summary of Laser Sensor ======= -->

            <!-- ======= START Table showing the locations and Tag of Accelerometers ======= -->
            <div class="table-responsive">
                <h5 class="my-3 text-primary">F. Table showing the locations and Tag of Accelerometers.</h5>
                <table class="table table-bordered table-striped p-0">
                    <thead class="text-center">
                        <tr>
                            <th style="width: 80px;">SL No.</th>
                            <th>Accelerometer</th>
                            <th>Location</th>
                            <th style="width: 80px;">SL No.</th>
                            <th>Accelerometer</th>
                            <th>Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>ACC1</td>
                            <td>A1 -P1 RHS</td>
                            <td>18</td>
                            <td>ACC18</td>
                            <td>P14-A2 LHS</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>ACC2</td>
                            <td>A1 -P1 LHS</td>
                            <td>19</td>
                            <td>ACC19</td>
                            <td>A3-P21 RHS</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>ACC3</td>
                            <td>P1-P2</td>
                            <td>20</td>
                            <td>ACC20</td>
                            <td>A3-P21 LHS</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>ACC4</td>
                            <td>P2-P3</td>
                            <td>21</td>
                            <td>ACC21</td>
                            <td>P21-P20</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>ACC5</td>
                            <td>P3-P4</td>
                            <td>22</td>
                            <td>ACC22</td>
                            <td>P20-P19</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>ACC6</td>
                            <td>P4-P5</td>
                            <td>23</td>
                            <td>ACC23</td>
                            <td>P19-P18</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>ACC7</td>
                            <td>P5-CP1</td>
                            <td>24</td>
                            <td>ACC24</td>
                            <td>P18-P17</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>ACC8</td>
                            <td>CP1-P6 RHS</td>
                            <td>25</td>
                            <td>ACC25</td>
                            <td>P17-P16</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>ACC9</td>
                            <td>CP1-P6 LHS</td>
                            <td>26</td>
                            <td>3DACC1</td>
                            <td>A1 Approach</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>ACC10</td>
                            <td>P8-P9 RHS</td>
                            <td>27</td>
                            <td>3DACC2</td>
                            <td>P6-P7 RHS</td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>ACC11</td>
                            <td>P8-P9 LHS</td>
                            <td>28</td>
                            <td>3DACC3</td>
                            <td>P6-P7 LHS</td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>ACC12</td>
                            <td>CP2-P10 </td>
                            <td>29</td>
                            <td>3DACC4</td>
                            <td>P7-P8 RHS</td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>ACC13</td>
                            <td>P10-P11</td>
                            <td>30</td>
                            <td>3DACC5</td>
                            <td>P7-P8 LHS</td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td>ACC14</td>
                            <td>P11-P12</td>
                            <td>31</td>
                            <td>3DACC6</td>
                            <td>P9-CP2 RHS</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>ACC15</td>
                            <td>P12-P13</td>
                            <td>32</td>
                            <td>3DACC7</td>
                            <td>P9-CP LHS</td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td>ACC16</td>
                            <td>P13-P14</td>
                            <td>33</td>
                            <td>3DACC8</td>
                            <td>A2 Approach</td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td>ACC17</td>
                            <td>P14-A2 RHS</td>
                            <td>34</td>
                            <td>A3 Approach</td>
                        </tr>
                    </tbody>
                </table>

                <h4 class="bg-info text-center">Enclosed: Raw data files of Accelerometers are attached herewith.</h4>
            </div>
            <!-- ======= END Table showing the locations and Tag of Accelerometers ======= -->
            
            
            <!-- ======= START Graphical representation of Accelerometers ======= -->
            <div class="text-center">
                {% for i in range(1, 6) %}
                <div class="py-5 my-3">
                    <img src="{{ url_for('static', filename='charts/accelerometers_chart_' ~ i ~ '.png') }}" alt="Chart {{ i }}">
                </div>
                {% endfor %}
            </div>
            <!-- ======= END Graphical representation of Accelerometers ======= -->
            

            <!-- ======= START STRAIN GAUGES DATA ======= -->
            <h5 class="my-5 text-primary">H. Summary of Strain gauges.</h5>
            <div class="table-responsive">
                <!-- Shayam bazar Viaduct RHS -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="2" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="4">Shayam bazar Viaduct RHS</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in shayam_bazar_viaduct_RHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Shayam bazar Viaduct LHS -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="2" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="4">Shayam bazar Viaduct LHS</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in shayam_bazar_viaduct_LHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- P6-P7 LHS - BS1 -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="3" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">P6-P7 LHS</th>
                        </tr>
                        <tr>
                            <th colspan="6">BS-1</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                            <th>TH.(µε+/-)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in P6_P7_BS1_LHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                                <td>433.7</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- P6-P7 LHS - BS3 -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="3" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">P6-P7 LHS</th>
                        </tr>
                        <tr>
                            <th colspan="6">BS-3</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                            <th>TH.(µε+/-)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in P6_P7_BS3_LHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                                <td>433.7</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- P6-P7 LHS - BS3 -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="3" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">P9-CP2 LHS</th>
                        </tr>
                        <tr>
                            <th colspan="6">BS-3</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                            <th>TH.(µε+/-)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in P6_P7_BS5_LHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                                <td>433.7</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- P6-P7 RHS - BS2 -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="3" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">P6-P7 RHS</th>
                        </tr>
                        <tr>
                            <th colspan="6">BS-2</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                            <th>TH.(µε+/-)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in P6_P7_BS2_RHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                                <td>433.7</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- P7-P8 RHS - BS4 -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="3" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">P6-P7 RHS</th>
                        </tr>
                        <tr>
                            <th colspan="6">BS-4</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                            <th>TH.(µε+/-)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in P6_P7_BS4_RHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                                <td>433.7</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- P9-CP2 RHS - BS6 -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="3" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">P9-CP2 RHS</th>
                        </tr>
                        <tr>
                            <th colspan="6">BS-6</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                            <th>TH.(µε+/-)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in P6_P7_BS6_RHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                                <td>433.7</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Dunlop Viaduct LHS -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="2" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">Dunlop Viaduct LHS</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in dunlop_Viaduct_LHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <!-- Dunlop Viaduct RHS -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="2" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">Dunlop Viaduct RHS</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                            <th>TH.(µε+/-)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in dunlop_Viaduct_RHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                                <td>374.5</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <!-- P7-P8 RHS (additional as suggested by IIT) -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="2" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">P7-P8 RHS (additional as suggested by IIT)</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                            <th>TH.(µε+/-)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in P7_P8_BS4_additional_RHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                                <td>433.7</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <!-- Chitpur Viaduct RHS  -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="2" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">Chitpur Viaduct LHS</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in chitpur_viaduct_LHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <!-- Chitpur Viaduct LHS  -->
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th rowspan="2" style="width: 10px;">Sl.No</th>
                            <th>Location</th>
                            <th colspan="5">Chitpur Viaduct RHS</th>
                        </tr>
                        <tr>
                            <th>Instrument Tag No.</th>
                            <th>MAX.</th>
                            <th>MIN.</th>
                            <th>AVG.</th>
                            <th>SD.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in chitpur_viaduct_RHS_statistics_datas.iterrows() %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ row["Instrument Tag No."] }}</td>
                                <td>{{ row["MAX."] | round(1) }}</td>
                                <td>{{ row["MIN."] | round(1) }}</td>
                                <td>{{ row["AVG."] | round(1) }}</td>
                                <td>{{ row["SD."] | round(1) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- ======= END STRAIN GAUGES DATA ======= -->

            
            <!-- ======= START Analyze Temperature Meter ======= -->
            <h5 class="my-5 text-primary">I. Summary of Temperature Meter</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>Sensor's Tag.</th>
                            <th>Maximum</th>
                            <th>Minimum</th>
                            <th>Average</th>
                            <th>Standard Deviation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in temprature_meter_datas.iterrows() %}
                            <tr>
                                <td>{{ row["Sensor's Tag."] }}</td>
                                <td>{{ row["Maximum"] | round(1) }}</td>
                                <td>{{ row["Minimum"] | round(1) }}</td>
                                <td>{{ row["Average"] | round(1) }}</td>
                                <td>{{ row["Standard Deviation"] | round(1) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- ======= END Analyze Temperature Meter ======= -->
            
            
            <!-- ======= START TILT SENSOR DATA ======= -->
            <h5 class="my-5 text-primary">K. Summary of Tilt Meter</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>Sensor's Tag.</th>
                            <th>Maximum</th>
                            <th>Minimum</th>
                            <th>Average</th>
                            <th>Standard Deviation</th>
                            <th>TH</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in tilt_meter_datas.iterrows() %}
                            <tr>
                                <td>{{ row["Sensor's Tag."] }}</td>
                                <td>{{ row["Maximum"] | round(1) }}</td>
                                <td>{{ row["Minimum"] | round(1) }}</td>
                                <td>{{ row["Average"] | round(1) }}</td>
                                <td>{{ row["Standard Deviation"] | round(1) }}</td>
                                <td>1.0</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- ======= END TILT SENSOR DATA ======= -->
            
            
            <!-- ======= START LVDT =======  -->
            <h5 class="my-4 text-primary">L. Summary of LVDT</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>Sensor's Tag.</th>
                            <th>MAX. (deg C)</th>
                            <th>MIN. (deg C)</th>
                            <th>AVG. (deg C)</th>
                            <th>SD. (deg C)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for index, row in ldvt_datas.iterrows() %}
                            <tr>
                                <td>{{ row["Sensor's Tag."] }}</td>
                                <td>{{ row["MAX. (deg C)"] | round(1) }}</td>
                                <td>{{ row["MIN. (deg C)"] | round(1) }}</td>
                                <td>{{ row["AVG. (deg C)"] | round(1) }}</td>
                                <td>{{ row["SD. (deg C)"] | round(1) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- ======= START Graphical representation of Accelerometers ======= -->
            <div class="text-center">
                {% for i, columns in enumerate(chart_columns) %}
                <div class="py-5 my-3">
                    <img src="{{ url_for('static', filename='charts/strain_gauges_chart_' ~ i ~ '.png') }}" alt="Chart {{ i }}">
                </div>
                {% endfor %}
            </div>
            <!-- <div class="text-center">
                {% for chart_type in chart_types %}
                    {% for i in range(1, 8) %}
                        <div class="py-5 my-3">
                            <img src="{{ url_for('static', filename='charts/' ~ chart_type.lower() ~ '_chart_' ~ i ~ '.png') }}" alt="{{ chart_type }} Chart {{ i }}">
                        </div>
                    {% endfor %}
                {% endfor %}
            </div> -->


            <!-- ======= END Graphical representation of Accelerometers ======= -->
            <!-- ====== END LVDT ========  -->

            <!-- ======= START LVDT =======  -->
            <h5 class="my-4 text-primary">L. Summary of Corrision</h5>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="text-center">
                        <tr>
                            <th>Datetime</th>
                            <th>N01_Corrosion_Current_1</th>
                            <th>N01_Corrosion_Current_2</th>
                            <th>N01_Corrosion_Current_3</th>
                            <th>N01_Corrosion_Current_4</th>
                            <th>N02_Corrosion_Current_1</th>
                            <th>N02_Corrosion_Current_2</th>
                            <th>N02_Corrosion_Current_3</th>
                            <th>N02_Corrosion_Current_4</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in corrosion_data %}
                        <tr>
                            <td>{{ row['Datetime'] }}</td>
                            <td>{{ row['N01_Corrosion_Current_1'] }}</td>
                            <td>{{ row['N01_Corrosion_Current_2'] }}</td>
                            <td>{{ row['N01_Corrosion_Current_3'] }}</td>
                            <td>{{ row['N01_Corrosion_Current_4'] }}</td>
                            <td>{{ row['N02_Corrosion_Current_1'] }}</td>
                            <td>{{ row['N02_Corrosion_Current_2'] }}</td>
                            <td>{{ row['N02_Corrosion_Current_3'] }}</td>
                            <td>{{ row['N02_Corrosion_Current_4'] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- ====== END LVDT ========  -->
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const downloadbtn = document.querySelector('#download-pdf');
        downloadbtn.addEventListener('click', () => {
           
            // Execute the printJS function once the font is loaded
            printJS({
                printable: 'report-print',
                type: 'html',
                css: '{{ url_for("static", filename="css/bootstrap.css") }}'
            });
        })
    })
    </script>
{% endblock %}
