{% extends "root.html" %}
{% block title %}
    BHMS Report of New Tallah ROB (Hemanta Setu) &nbsp; Summery Report &nbsp; &nbsp; From {{ start_date }} to {{ end_date }}
{% endblock %}
{% block styles %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
    <link href="https://printjs-4de6.kxcdn.com/print.min.css"
          rel="stylesheet"
          type="text/css" />
{% endblock %}
{% block content %}
    <!-- Add this container to hold multiple charts -->
    <div id="chart-container"></div>
    <script>
            // Loop through each chart data in the 'laser_charts_data' array
            const laserChartsData = {{ laser_charts_data | safe }};
    </script>
    <script>
            // Function to extract deflection and threshold values
            function extractDeflectionAndThresholdData(laserChartsData) {
                const result = [];

                for (const chartData of laserChartsData) {
                    const { deflection_data, threshold_data } = Object.values(chartData)[0][0];
                    result.push({ deflection_data, threshold_data });
                }

                return result;
            }

            // Access the container where the charts will be displayed
            const chartContainer = document.getElementById('chart-container');

            laserChartsData.forEach((chartData, index) => {
                const chartId = chartData.chart_id;
                const chartTitle = chartData.chart_title;
                const chart_label_id = "ls" + (index+1);
                const laser_chart_labels = chartData[chart_label_id][0]['labels'];


                // Extract deflection and threshold data for each chart
                const { deflection_data, threshold_data } = extractDeflectionAndThresholdData([chartData])[0];

                console.log('---------')
                console.log({ deflection_data, threshold_data })
                console.log('---------')
                console.log(deflection_data)
                console.log(threshold_data)

                // Create a canvas element for the current chart
                const canvasElement = document.createElement('canvas');
                canvasElement.id = chartId;
                canvasElement.style.width = '100%';
                canvasElement.style.height = '60vh';

                // Append the canvas element to the chart container
                chartContainer.appendChild(canvasElement);

                // Get the context for the current chart
                const ctx = canvasElement.getContext('2d');

                const myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: laser_chart_labels,
                        datasets: [
                            {
                                data: deflection_data,
                                label: "Deflection Data",
                                borderColor: "blue",
                                fill: false
                            }, {
                                data: threshold_data,
                                label: "Threshold Data",
                                borderColor: "red",
                                fill: false
                            }
                        ]
                    },

                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: chartTitle,
                                color: 'navy',
                                position: 'bottom',
                                align: 'center',
                                font: {
                                    weight: 'bold'
                                },
                                padding: 8,
                                fullSize: true,
                            }
                        }
                    }
                });

            });
    </script>
{% endblock %}
