{% extends "root.html" %}
{% block title %}
    BHMS Report of New Tallah ROB (Hemanta Setu) &nbsp; Summery Report &nbsp; &nbsp; From {{ start_date }} to {{ end_date }}
{% endblock %}
{% block styles %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
{% block content %}
    <!-- NEED TO FIX THIS CHART ID -->
    <div id="chart-container"></div>
    <script>
        const ldvt_chart_data = {{ ldvt_charts_data | safe }};
        console.log(ldvt_chart_data);
        console.log('-----');

        ldvt_chart_data.forEach((csv_charts_data) => {
            console.log(csv_charts_data);
            const chartContainer = document.getElementById('chart-container');
            const dlName = csv_charts_data[0]['dl_name'];

            const h2Element = document.createElement('h2');
            h2Element.textContent = `Charts for ${dlName}`;
            chartContainer.appendChild(h2Element);

            csv_charts_data.forEach((chart_data, index) => {
                const dlName = chart_data['dl_name'];
                const canvasId = `chartCanvas${index}`+ chart_data['chart_title'];
                const h3Element = document.createElement('h3');
                h3Element.textContent = dlName;

                const canvasElement = document.createElement('canvas');
                canvasElement.id = canvasId;
                canvasElement.style.width = '100%';
                canvasElement.style.height = '60vh';

                chartContainer.appendChild(h3Element);
                chartContainer.appendChild(canvasElement);


                const labels = chart_data['labels'];
                const datasets = chart_data['datasets'];

                createChart(canvasId, labels, datasets);
            });
        });

        function createChart(canvasId, labels, datasets) {
            const ctx = document.getElementById(canvasId).getContext('2d');
            new Chart(ctx, {
                type: 'line', // Change this to the desired chart type (e.g., 'bar', 'pie', etc.)
                data: {
                    labels: labels,
                    datasets: datasets
                },
                options: {
                    plugins: {
                        title: {
                            display: true,
                            text: "a chart title",
                            color: 'navy',
                            position: 'bottom',
                            align: 'center',
                            font: {
                                weight: 'bold'
                            },
                            padding: 8,
                            fullSize: true,
                        }
                    }
                }
            });
        }
    </script>
{% endblock %}
