<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% block title %} {% endblock %}
        </title>
    
        <!-- Bootstrap CSS  -->
        <link rel="stylesheet"
              href="{{ url_for('static', filename='css/bootstrap.css') }}" />
        <link href="{{ url_for('static', filename='css/bootstrap.css') }}" />
        <!-- START - DYNAMIC CSS LOADED -->
        {% block styles %}{% endblock %}
        <!-- END - DYNAMIC CSS LOADED -->
    </head>
    <body>
        {% block content %}{% endblock %}
        <!-- Bootstrap JS  -->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
