{% extends "root.html" %}
{% block title %}
    BHMS Report of New Tallah ROB (Hemanta Setu) &nbsp; Summery Report &nbsp; &nbsp; From {{ start_date }} to {{ end_date }}
{% endblock %}
{% block styles %}<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>{% endblock %}
{% block content %}
    <div class="container">
        <script>console.log({{ strain_chart_datas | safe}})</script>
        <!-- Other HTML content -->
        {% for group_data in strain_chart_datas %}
            <script>
        // Get data from the Jinja context
        let strainData_{{ group_data.canvas_id }} = {{ group_data.datasets | safe }}
        let labels_{{ group_data.canvas_id }} = {{ group_data['labels'] | safe }}

        // Create an array to store datasets for this group
        let datasets_{{ group_data.canvas_id }} =[];

        // Define an array of colors
        const lineColors_{{ group_data.canvas_id }} = ['blue', 'red', 'green', 'purple', 'orange', 'yellow', 'cyan']; // Add more colors as needed

        // Iterate over each dataset in the group and create a separate dataset for each line
        strainData_{{ group_data.canvas_id }}.forEach(function (dataset, datasetIndex) {
            datasets_{{ group_data.canvas_id }}.push({
                data: dataset.data,
                label: dataset.label,
                borderColor: lineColors_{{ group_data.canvas_id }}[datasetIndex % lineColors_{{ group_data.canvas_id }}.length], // Use different colors for each line
                fill: false
            });
        });

        // Create Chart.js Line chart
        const ctx{{ group_data.canvas_id }} = document.createElement('canvas');
        ctx{{ group_data.canvas_id }}.setAttribute('id', 'chart-{{ loop.index }}');
        ctx{{ group_data.canvas_id }}.setAttribute('width', '400');
        ctx{{ group_data.canvas_id }}.setAttribute('height', '200');
        document.body.appendChild(ctx{{ group_data.canvas_id }});
        ctx{{ group_data.canvas_id }}.getContext('2d');

        const myChart{{ group_data.canvas_id }} = new Chart(ctx{{ group_data.canvas_id }}, {
            type: 'line',
            data: {
                labels: labels_{{ group_data.canvas_id }},
                datasets: datasets_{{ group_data.canvas_id }}
            },
            options: {
                plugins: {
                    title: {
                        display: true,
                        text: '{{ group_data.chart_for | title }}',
                        color: 'navy',
                        position: 'bottom',
                        align: 'center',
                        font: {
                            weight: 'bold'
                        },
                        padding: 8,
                        fullSize: true,
                    }
                }
            }
        });

    // Create a separate Line chart for each accelerometer column
    // strainData{{ loop.index }}.forEach(function (groupData, groupIndex) {
    //     // console.log(groupData)
    //     // console.log(groupData.column_name)
    //     // Create Chart.js Line chart
    //     const ctx = document.createElement('canvas');
    //     ctx.setAttribute('id', 'chart-{{ loop.index }}');
    //     ctx.setAttribute('width', '400');
    //     ctx.setAttribute('height', '200');
    //     document.body.appendChild(ctx);
    //     ctx.getContext('2d');

    //     const myChart = new Chart(ctx, {
    //         type: 'line',
    //         data: {
    //             labels: labels{{ loop.index }},
    //             datasets: [
    //                 {
    //                     data: groupData.values,
    //                     label: groupData.column_name,
    //                     borderColor: "blue",
    //                     fill: false
    //                 }
    //             ]
    //         },

    //         options: {
    //             plugins: {
    //                 title: {
    //                     display: true,
    //                     text: "Chart - " + groupData.column_name,
    //                     color: 'navy',
    //                     position: 'bottom',
    //                     align: 'center',
    //                     font: {
    //                         weight: 'bold'
    //                     },
    //                     padding: 8,
    //                     fullSize: true,
    //                 }
    //             }
    //         }
    //     });
    // });
            </script>
        {% endfor %}
    </div>
{% endblock %}
