{% extends "root.html" %}
{% block title %}
BHMS Report of New Tallah ROB (Hemanta Setu) &nbsp; Summery Report &nbsp; &nbsp; From {{ start_date }} to {{ end_date }}
{% endblock %}
{% block styles %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>{% endblock %}
{% block content %}
<div class="container">
    {% for strain_plotly_div in strain_plotly_divs %}
    <div class="container">
        <h3>{{ strain_plotly_div["chart_title"] }}</h3>
        <p>Chart for: {{ strain_plotly_div["chart_for"] }}</p>
        <p>Data Logger: {{ strain_plotly_div["dl_name"] }}</p>

        <div id="{{ strain_plotly_div['canvas_id'] | safe }}">
            {{ strain_plotly_div['plotly_div'] | safe }}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}